*{
    margin: 0;
    padding: 0;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2{
    
    font-size: 45px;
    font-weight: 900;
    color: #181818;
}
.color-orange{
    color: #FD6E0A;
}

.btn{
    color: white;
    background-color: #FD6E0A;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}


/* main section  */
header{
    background-color: #FFF8F3;
    background: url('../images/developer.png') , url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
    padding-top: 50px;
}

nav{
    display: flex;
    align-items: center;
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
    justify-content: space-between;
}
nav .menu {
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;

}
nav .menu li{
    font-size: 20px;
    color: #474747;
}
nav .menu a{
    text-decoration: none;
}
#banner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 66px 38px 0 230px;
}
#banner .banner-container{
    max-width: 585px ;
}
#banner .banner-container h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-container h1{
    font-size: 55px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;
}
#banner .banner-container p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner-btn{
    display: flex;
    gap: 30px;
}
.banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
    
    
}
#about .about-container{
    width: 71%;
    max-width: 827px;
    background-color: #FFF8F3;
    margin: 0 auto;
    text-align: center;
    padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    
    
}
#about .about-container .about-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
    
}
#about .about-container .about-card h4{
    color: #474747;
    font-weight: bold;
    line-height: 30px;
}
#skills{
    padding-top: 130px;
}
#skills .skill-container{
     width: 71%;
    max-width: 1140px;
    
    margin: 0 auto;
    
}
#skills .skill-container .skill-box{
    display: flex;
    gap: 24px;
    
}
#skills .skill-container .skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000020;
}
#skills .skill-container .skill-box .skill-card img{
    margin-bottom: 30px;
    max-width: 44px;
}
#skills .skill-container .skill-box .skill-card h3{
    font-size: 20px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;
}
#skills .skill-container .skill-box .skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}